################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Relativity/v15
/Relativity/bin/Debug/netstandard1.6
/Relativity/obj
/RelativityUnitTest/bin/Debug
/RelativityUnitTest/obj/Debug
